<h1><%= t "static_pages.password_reset.title" %></h1>

<p><%= t "static_pages.password_reset.content" %></p>

<%= link_to t("static_pages.password_reset.title"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "static_pages.password_reset.notification" %></p>
